.lowCell {
  width: 14%;
}
.midCell {
  width: 16%;
}
.bigCell {
  width: 45%;
}
.gapCell {
  width: 10%;
}
.equCell {
  width: 50%;
}
.boldCell {
  font-weight: bold;
}
.topCell {
  vertical-align: top;
}
.centeredCell {
  text-align: center;
}
.cursive {
  font-style: italic;
}
.right {
  text-align: right;
}
.withLeftBorder {
  border-left: solid 1px rgba(0,0,0,0.12);
}