.main {
  max-width: 1200px;
  text-align: center;
  margin: 0 8.33333333%;
}

.university {
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.author {
  font-size: 28px;
}

.title {
  font-size: 44px;
  text-transform: uppercase;
  margin: 30px 0;
}

.intro {
  background-color: #bae7ff;
  padding: 30px 0;
}

.introTitle {
  font-size: 34px;
  margin-bottom: 50px;
  justify-content: center;
}

.introDescription,
.introBoss {
  font-size: 20px;
  line-height: 24px;
}

.introDescription {
  margin: 50px 0;
}

.btn {
  line-height: 26px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  height: 40px;
  padding: 6px 15px;
  font-size: 16px;
  border-radius: 2px;
  outline: 0;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  transition: all .3s cubic-bezier(.645,.045,.355,1), color 1s;
  text-decoration: none;
}

.btn:hover {
  background-color: #40a9ff;
}