.wrapper {
  flex: 0 0 200px;
  max-width: 200px;
  min-width: 200px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.list {
  position: fixed;
  display: flex;
}
