.page {
  margin-top: 100px;
  text-align: center;
}
.number {
  margin: 50px 0;
  font-size: 44px;
}

.text {
  font-size: 24px;
}
  
.btn {
  margin-top: 30px;
  line-height: 26px;
  box-sizing: border-box;
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  height: 40px;
  padding: 6px 15px;
  font-size: 16px;
  border-radius: 2px;
  outline: 0;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  transition: all .3s cubic-bezier(.645,.045,.355,1), color 1s;
  text-decoration: none;
}

.btn:hover {
  background-color: #40a9ff;
}
