body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  color: rgba(0,0,0,.65);
  margin: 0;
  padding: 0;
  background: #f0f2f5;
}

.light {
  background-color: #ffffff;
}

.capital {
  text-transform: capitalize;
}

.cursive {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.strong {
  font-weight: bold;
  text-transform: uppercase;
}

.red {
  color: red;
}

.attention-red {
  color: red;
  border: 1px solid red;
  padding: 10px 0;
}

.mainWrapper {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 16px;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.page-title {
  margin: 30px 0;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.page-player {
  margin-top: 20px;
}

.page--side-menu {
  position: fixed;
  font-size: 24px;
  color: #1890ff;
  border-right: 0;
}

.page-content {
  padding: 0 20px;
}

.prasens-img {
  width: 148px;
  margin: 0 auto;
}
.preter-img {
  width: 248px;
  margin: 10px auto;
}
.perfect-img-1 {
  width: 248px;
  margin: 10px auto;
}
.perfect-img-2 {
  width: 160px;
  height: 24px;
}
.perfect-img-3 {
  width: 230px;
  height: 35px;
}
.perfect-img-4 {
  margin: 0 auto;
}

.page-content--table {
  width: 100%;
  margin-bottom: 1em;
}
.page-content--table th {
  width: 33%;
  text-align: center;
  vertical-align: top;
}
.page-content--table tr {
  height: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
.page-content--table .low-cell {
  width: 14%;
}
.page-content--table .mid-cell {
  width: 16%;
}
.page-content--table .gap-cell {
  width: 10%;
}
.page-content--table .bold-cell {
  font-weight: bold;
}
.page-content--table .top-cell {
  vertical-align: top;
}
.page-content--table .centered-cell {
  text-align: center;
}
.page-content--table .cell-45 {
  width: 45%;
}


.lang-btn--wrap {
  position: fixed;
}

.lang-btn,
.lang-btn:last-child,
.lang-btn:first-child {
  height: 48px;
  margin-right: 15px;
  line-height: 48px;
}
