.centered {
  text-align: center;
}

.paragraph {
  margin-top: 0;
  margin-bottom: 1rem;
}

.cursive {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.underline {
  text-decoration: underline;
}

.tabula {
  margin-left: 25px;
}

.sup {
  vertical-align: super;
  font-size: smaller;
}
